/**
 * Boardgame image tool (BIT)
 * Copyright 2017 Herve Retaureau
 */

.drawing#draw-area {
  cursor: crosshair;
}

.moving#draw-area {
  cursor: move;
}

.editing#draw-area {
  cursor: crosshair;
}

.tracking#draw-area {
  cursor: crosshair;
}

#draw-area {
  stroke-width: 1px;
  fill: rgba(255,255,255,0.3);
}

#draw-area rect {
  stroke: #f00;
}

#draw-area rect.square {
  stroke: #f80;
}

#draw-area polygon.rhombus {
  stroke: #f64;
}

#draw-area polygon.isosceles {
  stroke: #06d;
}

#draw-area polygon.equilateral {
  stroke: #4ae;
}

#draw-area polygon.right-angle {
  stroke: #8df;
}

#draw-area circle {
  stroke: #808;
}

#draw-area circle.extended {
  stroke: #c2c;
}

#draw-area circle:hover,
#draw-area rect:hover,
#draw-area polygon:hover/*,
#draw-area polygon.extended:hover,
#draw-area ellipse:hover*/ {
  fill: rgba(255,255,255,0.4);
}

#draw-area circle.selected,
#draw-area rect.selected,
#draw-area polygon.selected/*,
#draw-area polygon.extended.selected,
#draw-area ellipse.selected*/ {
  stroke-width: 3px;
  fill: rgba(200,200,255,0.4);
}

#draw-area circle.selected:hover,
#draw-area rect.selected:hover,
#draw-area polygon.selected:hover/*,
#draw-area polygon.extended.selected:hover,
#draw-area ellipse.selected:hover*/ {
  cursor: move;
}

#draw-area rect.tracker {
  stroke-width: 1px;
  stroke: #222;
  stroke-dasharray: 2, 5;
  fill: none;
}

#draw-area rect.grip {
  stroke-width: 1px;
  stroke: #000;
  fill: #fff;
}

#draw-area rect.grip.disabled {
	stroke: #333;
	fill: #555;
}

#draw-area rect.grip:hover {
  fill: #000; 
}

#draw-area rect.grip.ew-resize {
  cursor : ew-resize;
}

#draw-area rect.grip.ns-resize {
  cursor : ns-resize;
}

#draw-area rect.grip.nesw-resize {
  cursor : nesw-resize;
}

#draw-area rect.grip.nwse-resize {
  cursor : nwse-resize;
}

#draw-area rect.grip.move {
  cursor : move;
}
